@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-black.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-black.svg#gilroy-black') format('svg'); /* Chrome < 4, Legacy iOS */
}

html {
  align-self:center;
  height: 100%;
  max-height: 792px;
  width: 100%;
  max-width: 1122px;
  margin: auto;
  padding: 0px;
  
}

.grid * {
  padding: 10px 10px;
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
 }

/* Сетка */

.grid
{
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header main"
  "aside main"
  "footer main";
}
header {
  grid-area: header;
  justify-self: start;
  align-self: start;
}
aside {
  grid-area: aside;
  align-self: center;
}
main {
  grid-area: main;
  margin: 0px;
}
footer {
  grid-area: footer;
  align-self: end;
  justify-self: start;
  font-style: normal;
  font-weight: 300;
  font-size: 1px;
  color: rgba(166, 133, 99, 0.8);}

.text {
  margin: 0px;
  padding: 0px;
}
.title {
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 48px;
color: #D99E65;
}
.text_1 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  text-indent: 10px;
  font-size: 24px;
  line-height: 0.1;
  color: #353535;

}
