/*
 * © Bugaev Ivan
 * This code is protected by copyright.
*/

.biv-time-action-time {
  text-align: center;
  padding-bottom: 10px;
}
.biv-time-action-time-section {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
  color: #fff;
  width: 70px;
  height: 83px;
  text-align: center;
  padding-top: 15px;
  margin: 0px 10px 20px 10px;
  border-radius: 7px;
}
.biv-time-action-time-section-number {
  display: block;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 5px;
}
.biv-time-action-time-section-text {
  display: block;
  font-size: 16px;
  line-height: 16px;
}
@media (max-width:991px){
  .biv-time-action-time-section {
    margin: 0px 5px 20px 5px;
    padding-top: 10px;
    width: 54px;
    height: 57px;
  }
  .biv-time-action-time-section-number {
    font-size: 20px;
    line-height: 20px;
  }
  .biv-time-action-time-section-text {
    font-size: 12px;
    line-height: 12px;
  }
}