/*
 * © Bugaev Ivan
 * This code is protected by copyright.
*/

.biv-slider {
  position: fixed;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
}
.biv-slide {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
  background-position: center center;
  background-size: cover;
}
.biv-content {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}
.biv-slider-nav-point {
  text-align: center;
}
.biv-slider-nav-point-list span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%;
  border-radius: 12px;
  margin: 0px 5px 10px 5px;
  cursor: pointer;
}
.biv-slider-nav-point-list span:hover {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
}
.biv-slider-nav-point-list span.point-active {
  background-color: #61b9e8;
}
.biv-slider-nav-point-list span.point-active:hover {
  background-color: #61b9e8;
}
#bivSliderPoints {
  height: 38px;
}
@media (max-width:991px){
  .biv-slider-nav-point-list {
    display: none;
  }
}